<p> <%= @player_1.name %> has attacked <%= @player_2.name %>!</p>
<p> <%= @player_2.name %> has lost 10 HP! </p>


<form action="/play" method="get">
  <input type="submit" value="Continue!">
</form>
